//////////////////////////////
// abbreviation - a
//////////////////////////////
a(href="$MYLINK$")$END$

//////////////////////////////
// abbreviation - img
//////////////////////////////
img(src="$IMAGEPATH$" alt="$IMAGEDESCRIPTION$")$END$

